<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3><i class="fa fa-exclamation-triangle"></i> Atenção</h3>
        <hr>
        <p>
          Entregando sua prova, você não poderá mais alterar as respostas. <br>
          <strong>Você quer mesmo entregar sua prova</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <button
              close-button
              class="btn btn-default"
              [ngClass]="{disabled: isSubmitting}"
              [disabled]="isSubmitting"
              (click)="cancel()">
              Ainda não
            </button>
          </div>
          <div class="col-xs-6">
            <button
              finishButton
              class="btn btn-success"
              [ngClass]="{disabled: isSubmitting}"
              [disabled]="isSubmitting"
              (click)="confirm()">
              <span *ngIf="! isSubmitting">Sim, eu quero</span>
              <span *ngIf="isSubmitting">
                Enviando <i class="fa fa-spinner spinning" ></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
