<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Atenção</h3>
        <hr>
        <p>
          Ao clicar em <b>Sim</b> sua prova será finalizada e não será mais possível realizar alterações.<br>
          Deseja continuar?
        </p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <button class="btn btn-default"
                    close-button
                    (click)="cancel()">Cancelar
            </button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-success" finishButton (click)="confirm()">Sim, eu terminei!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
