<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-xs-12">
			<h3>{{assessment?.title}}</h3>
			<hr>
		</div>

		<form [formGroup]="studentForm" (keyup.enter)="formSubmit()">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label for="student_name">Nome (obrigatório)</label>
					<input type="text" class="form-control" placeholder="Seu nome completo" id="name"
									required 
									formControlName="name"
									>
					<div *ngIf="formErrors?.name" class="form-field-error" >
						<span [innerHTML]="formErrors?.name"></span>
					</div>
				</div><!-- .form-group -->
			</div><!-- .col-xs-12 -->
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label for="register_number">Número de matrícula</label>
					<input type="text"  class="form-control" placeholder="Seu número de estudante ou matrícula" id="register_number"
									formControlName="register_number"
									>
					<div *ngIf="formErrors?.register_number" class="form-field-error">
						<span [innerHTML]="formErrors?.register_number"></span>
					</div>
				</div><!-- .form-group -->
			</div><!-- .col-xs-12.col-md-6 -->
		</form>

	</div><!-- .panel-body -->
	<div class="panel-footer">
		<div class="row">
			<div class="col-xs-12 text-center">
				<button type="submit" class="btn btn-success" (click)="formSubmit()" [ngClass]="{'disabled': studentForm.invalid }" [disabled]="studentForm.invalid" >Continuar</button>
			</div><!-- .col-xs-12 -->
		</div>
	</div><!-- .panel-footer -->
</div><!-- .panel-default -->
