<form [formGroup]="studentForm">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label for="student_name">Nome (obrigatório)</label>
					<input type="text" class="form-control" placeholder="Seu nome completo" id="name"
									formControlName="name"
									[ngClass]="formClasses.name"
									>
					<div *ngIf="formErrors?.name" class="form-field-error" >
						<span [innerHTML]="formErrors?.name"></span>
					</div>
				</div><!-- .form-group -->
			</div><!-- .col-xs-12 -->
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
					<label for="student_number">Número de matrícula (obrigatório)</label>
					<input type="text"  class="form-control" placeholder="Seu número de estudante ou matrícula" id="register_number"
									required
									formControlName="register_number"
									[ngClass]="formClasses.register_number"
									>
					<div *ngIf="formErrors?.register_number" class="form-field-error">
						<span [innerHTML]="formErrors?.register_number"></span>
					</div>
				</div><!-- .form-group -->
			</div><!-- .col-xs-12.col-md-6 -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</form>
