<div class="page">
  <main>
    <div class="container">
      <div class="col-xs-12 col-md-6 col-md-offset-3 no-h-padding">
        <div class="panel panel-default">
          <form (ngSubmit)="validateAndRequestAssessment()" novalidate>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <div class="intro">
                    <img src="assets/images/qedu-logo-borderless.png" alt="QEdu Logo" class="logo">
                    <p>
                      Bem vindo ao Sistema de Avaliação QEdu Provas. <br>
                      Informe no campo abaixo o <strong>Código da Prova</strong> para prosseguir.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error': formError}">
                    <div class="row">
                      <div class="col-xs-8 col-xs-offset-2 text-center">
                        <label for="assessmentToken">Código da Prova</label>
                        <input
                          assessmentToken
                          type="text"
                          id="assessmentToken"
                          class="form-control input-lg"
                          name="assessmentToken"
                          (change)="assessmentToken = $event.target.value"
                          [qpAssessmentTokenMask]
                          required
                        >
                      <div class="error form-field-error">{{formError}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-center">
              <button
                class="btn btn-success search"
                type="button"
                (click)="validateAndRequestAssessment()">
                Continuar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <qp-footer></qp-footer>
</div>
