<qp-panel-page [small]="!matrix">
  <div>
    <h3 class="text-center">Validação de Matriz de Prova</h3>

    <ng-container *ngIf="!matrix; then matrixForm; else matrixInfo"></ng-container>

    <ng-template #matrixForm>
      <form  #form="ngForm" action="" class="text-center mt20">
        <div class="form-group">
          <div class="row">
            <label for="matrix_code">Código de Acesso da Matriz</label>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <input
                type="text"
                class="form-control"
                name="matrix_code"
                id="matrix_code"
                [(ngModel)]="matrixId"
              >
              <div *ngIf="error && !submitting" class="error form-field-error">
                {{error}}
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #matrixInfo>
      <div class="matrix-info">
        <qp-matrix-info [matrix]="matrix"></qp-matrix-info>
      </div>
    </ng-template>

  </div>
  <div footer>
    <button class="btn btn-success" [disabled]="submitting" (click)="handleSubmit()">Continuar</button>
  </div>
</qp-panel-page>

