<div class="page">

  <main class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <qp-page-logos [assessment]="assessment"></qp-page-logos>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h1 class="title">{{assessment?.mainTitle}}</h1>
            <hr>
            <h3 class="secundary-title">{{assessment?.secondaryTitle}}</h3>
            <p class="description">
              {{assessment?.description}}
            </p>
          </div>
        </div>
        <hr>
        <div class="row" *ngIf="student.token">
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label>Nome</label> <br>
              <span studentName>{{student?.name}}</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label>Matrícula</label> <br>
              <span studentMatricula>{{student?.matricula}}</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label>Turma</label> <br>
              <span studentClass>{{student?.class}}</span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="! student.token">
          <form (submit)="onSubmit()">
            <div class="col-xs-12 col-md-4 col-md-offset-4 text-center" [ngClass]="{'has-error': error}">
              <label>Código do Estudante</label>
              <input
                     [qpMask]="'###-####'"
                     [(ngModel)]="accessToken"
                     name="accessToken"
                     id="accessToken"
                     type="text"
                     placeholder="Informe seu código: Ex.: AAA-9999"
                     class="form-control input-lg">

              <div class="error form-field-error">{{error}}</div>
            </div>
          </form>
        </div>
      </div>


      <div class="panel-footer">
        <div class="row">

          <div *ngIf="! student.token">
            <div class="col-xs-12 text-center">
              <button submit
                      type="button"
                      class="btn btn-success"
                      (click)="onSubmit()">Continuar
              </button>
            </div>
          </div>

          <div *ngIf="student.token">
            <div class="col-xs-12 clearfix">
              <button cancel
                      type="button"
                      class="btn btn-default"
                      (click)="onCancel()"
              >
                Cancelar
              </button>
              <button continue
                      type="button"
                      class="btn btn-success pull-right"
                      (click)="onContinue()"
              >
                Continuar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <qp-footer></qp-footer>
</div>
