<div class="clearfix">
  <h3 class="mt10 mb10 text-center mb15">{{matrix?.title}}</h3>
  <div class="col-xs-12 ">
    <div class="row mb5">
      <div class="col-xs-12 col-md-4 _label"><strong>Assuntos:</strong></div>
      <div class="col-xs-12 col-md-8">{{matrix?.subjects.join(', ')}}</div>
    </div>
    <div class="row mb5">
      <div class="col-xs-12 col-md-4 _label"><strong>Ano indicado:</strong></div>
      <div class="col-xs-12 col-md-8">{{matrix?.grade}}º ano</div>
    </div>
    <div class="row mb5">
      <div class="col-xs-12 col-md-4 _label"><strong>Quantidade de Items:</strong></div>
      <div class="col-xs-12 col-md-8">{{matrix?.items.length}}</div>
    </div>
  </div>
</div>


