<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3><i class="fa fa-exclamation-triangle"></i> Pronto para começar?</h3>
        <hr>
        <p>
          Ao clicar em <strong>sim</strong>, você irá iniciar sua prova e não será possível voltar atrás.<br>
        </p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6 text-left">
            <button
              close-button
              class="btn btn-default"
              (click)="cancel()">
              Não
            </button>
          </div>
          <div class="col-xs-6">
            <button
              confirm
              class="btn btn-success"
              (click)="confirm()">
              Sim
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
