<div class="panel panel-default">
  <div class="panel-body">

    <div class="col-xs-12">
      <h3>Questão #1</h3>
      <hr>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="question" question>{{ question.text }}</div>
    </div>

    <div class="col-xs-12 col-md-6">
      <qp-answer
        *ngFor="let answer of question.answers"
        [answer]="answer"
        [checked]="answer.id === checked"
        (onClicked)="updateChecked($event)"
      ></qp-answer>
    </div>

  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-primary" prev>Voltar</button>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-success" next (click)="nextQuestion()">Avançar</button>
      </div>
    </div>
  </div>
</div>
