<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<h3>{{assessment?.title}}</h3>
				</div><!-- .col-xs-12 -->
			</div><!-- .row -->
			<div class="col-xs-12"> <hr> </div>
			<qp-student-form></qp-student-form>
		</div><!-- .panel-body -->
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-12 text-center">
					<button class="btn btn-success">Continuar</button>
				</div><!-- .col-xs-12 -->
			</div><!-- .row -->
		</div><!-- .panel-footer -->
	</div><!-- .panel-default -->
</div><!-- .container -->