<header>
  <div class="header-inner container">
    <div class="pull-left" *ngIf="logo">
      <img src="assets/images/qedu-logo-q.png" class="logo">
    </div>
    <div class="pull-right" *ngIf="student">
      <div class="student">
        <span studentName><strong>{{student?.name}}</strong></span>
        <span *ngIf="student.matricula" studentMatricula> - {{student?.matricula}}</span>
        | <span studentClass>{{student?.class}}</span>
      </div>
    </div>
  </div>
</header>
<qp-connection-status></qp-connection-status>
