@import '../../../assets/scss/styles/variables'

header
  background-color: $color-primary
  padding-top: 10px
  padding-bottom: 10px
  color: $color-white
  min-height: 56px

  .logo
    max-height: 36px

  .student
    font-size: 20px


@media (max-width: 768px)
  .student
    font-size: 14px
    
