<div class="page">
  <qp-header></qp-header>
  <main class="container text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12">
          <h1><strong>Parabéns!</strong></h1>
          <div class="smile">
            <i class="fa fa-smile-o"></i>
          </div>
          <h1><strong>Sua prova foi entregue!</strong></h1>
          <br>
          <h4>
            Agora você merece um descanso! <br>
            Aproveite para se divertir enquanto os outros alunos terminam a prova.
          </h4>
          <br>
          <h4>
            <strong>Lembre-se: </strong> Mantenha o silêncio para não atrapalhar seus colegas.
          </h4>

          <button
            class="btn btn-success btn-lg"
            (click)="snake()"
          >
            E agora?
          </button>

        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div id="stage"></div>
        </div>

      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <a continue
               class="btn btn-success continue"
               routerLink="/">
              Voltar ao início
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <qp-footer></qp-footer>
</div>
