<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3><i class="fa fa-exclamation-triangle"></i> Atenção</h3>
        <hr>
        <p>
          Não foi possível se conectar com o servidor remoto. <br>
          Verifique sua conexão com a internet antes de continuar.
        </p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-12">
            <button close class="btn btn-success"  (click)="close()">Entendi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
