
// Margin Vertical
.mv10
  margin-top: 10px
  margin-bottom: 10px

// Margin Horizontal
.mh10
  margin-top: 10px
  margin-bottom: 10px

// Margin Top
.mt5
  margin-top: 5px
.mt10
  margin-top: 10px
.mt15
  margin-top: 15px
.mt20
  margin-top: 20px

// Margin Bottom
.mb5
  margin-bottom: 5px
.mb10
  margin-bottom: 10px
.mb15
  margin-bottom: 15px
.mb20
  margin-bottom: 20px

