/**
 * Main Colors
 */
$color-primary: #2C8230;
$color-secundary: #7CBD30;
$color-secundary-lighter: #DBF0E5;
$color-white: #ffffff;
$color-black: #555555;
$color-grey-light: #eee;

/**
 * Specific Colors
 */
$color-bg-main: $color-secundary-lighter;

/**
 * Fonts
 */
$font-sans: 'Droid Sans', 'Tahoma', sans-serif;
$font-serif: 'Droid Serif', 'Times New Roman', serif;
$font-mono: 'Droid Sans Mono', 'Monaco', 'Lucida Console', sans-serif;

