<div class="panel panel-default">
  <div class="panel-body">

    <div class="col-xs-12">
      <h3>Revisão</h3>
      <hr>
    </div>

    <div class="col-xs-12 col-md-3">
      <h4><i class="fa fa-clock-o"></i> Tempo decorrido</h4>
      <h2 class="duration">10 minutos</h2>
    </div>

    <div class="col-xs-12 col-md-3">
      <h4><i class="fa fa-check-square-o"></i> Questões respondidas</h4>
      <h2 class="items_count">2 de 2 questões</h2>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-primary"
                prev
                >Voltar
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-success"
                (click)="submit()"
                >Finalizar
        </button>
      </div>
    </div>
  </div>
</div>
