<div class="page">
  <qp-header></qp-header>

  <main class="container">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-title">
          {{assessment.mainTitle}}
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <h3>Resumo</h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h4><i class="fa fa-check-square-o"></i> Questões respondidas</h4>
            <h5 class="items_count stats">{{ answersLength }} de {{ questionsLength }} questões</h5>
          </div>
          <div class="col-xs-12 col-sm-6">
            <hr class="visible-xs-block hidden-sm">
            <h4><i class="fa fa-clock-o"></i> Tempo decorrido</h4>
            <h5 class="duration stats">10 minutos</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <hr>
            <h3>Respostas</h3>
            <hr>
          </div>
          <hr>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table class="table table-striped table-condensed table-hover">
                <thead>
                <tr>
                  <th>Questão</th>
                  <th colspan="2">Foi respondida?</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let option of answers; let _index = index" [ngClass]="{danger: !option}">
                  <td><strong>#{{_index+1}}</strong></td>
                  <td> {{ option ? 'Sim' : 'Não'}}</td>
                  <td class="text-right">
                    <a (click)="navigate(_index+1)" class="btn btn-primary btn-xs" *ngIf="!option">Responder</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-default"
                    back
                    (click)="back()"
            >Voltar
            </button>
          </div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-success"
                    (click)="openFinishModal()"
                    button-finish
            >Entregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <qp-footer></qp-footer>
</div>

<div #modal></div>
