<div class="page">
  <qp-header></qp-header>

  <main class="container">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-title">
          {{assessment.mainTitle}}
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <h3>Resumo da Prova</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <hr>
            <h4><i class="fa fa-check-square-o"></i> Questões respondidas</h4>
            <h5 class="items_count stats">{{ answersLength }} de {{ questionsLength }} questões</h5>
            <hr>
          </div>
        </div>

        <div class="row" *ngIf="!notAnswered.length">
          <div class="col-xs-12 status status-success">
            <h3 class="status-title">
              <i class="fa fa-check status-icon"></i>
              Você está pronto para entregar sua prova.
            </h3>
            <button
              (click)="openFinishModal()"
              button-deliver
              class="btn btn-success btn-lg">
              Entregar
            </button>
          </div>
        </div>

        <div class="row" *ngIf="notAnswered.length">
          <div class="col-xs-12 status status-error">
            <h3 class="status-title">
              <i class="fa fa-times status-icon"></i>
              Ops! Parece que você não respondeu todas as questões.
              <br>
            </h3>
            <button
              (click)="navigate(notAnswered[0])"
              class="btn btn-danger btn-lg">
              Voltar e responder
            </button>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6">
            <button
              back
              (click)="back()"
              class="btn btn-default">
              Voltar
            </button>
          </div>
          <div class="col-xs-6 text-right" *ngIf="notAnswered.length">
            <button
              button-deliver
              (click)="openFinishModal()"
              class="btn btn-default">
              Entregar mesmo assim
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <qp-footer></qp-footer>
</div>

<div #modal></div>
