<div class="logos">
  <div class="logo">
    <img
      *ngIf="department?.image"
      [src]="department?.image"
      [alt]="department?.description"
      class="department-logo"
    >
    <div *ngIf="!department?.image" class="description">
      {{department?.description}}
    </div>
  </div>
  <div class="separator"></div>
  <div class="desc-school">
    <div *ngIf="!school?.image" class="description">
      {{school?.description}}
    </div>
  </div>
  <div class="logo" *ngIf="school?.image">
    <img
            [src]="school?.image"
            [alt]="school?.description"
            class="school-logo"
    >
  </div>
  <div class="logo logo-qedu">
    <img
      src="assets/images/qedu-logo-borderless.png"
      class="qedu"
      alt="QEdu Logo"
    >
  </div>
</div>
