@import '../../../../assets/scss/styles/variables'

img
  max-width: 120px
  max-height: 120px

.logos
  display: flex
  align-items: center

.logo
  max-width: 180px

.desc-school
  width: 100%
  font-size: 200%
  text-align: left

  .description
    text-align: left

.separator
  height: 80px
  width: 40px
  position: relative

  &:before
    content: ''
    position: absolute
    height: 100%
    border-right: 1px solid rgba(85,85,85,0.3)
    left: 50%
    top: 0

.logo-qedu
  margin-left: auto
